engine-strict=true
fund=false
audit=true
save-exact=true
package-manager-strict=true
strict-peer-dependencies=true
auto-install-peers=false
prefer-frozen-lockfile=true
verify-store-integrity=true
verify-store-dir=.npm-store
@vigilio-services:registry=https://npm.pkg.github.com
@vigilioyonatan:registry=https://npm.pkg.github.com
always-auth=true
